{% extends 'FundamentosPlay/teachers/teacher.html' %}


{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Progreso</li>
  </ol>
</nav>
<h2 class="mb-3">kopalaci</h2>

<section class="container  col-sm-4 " >
    <div id="datosbox ">
		<div class="perfil">
			<div class="profile_image">
				<a href="#"><img class="thumbnail" src="https://d30y9cdsu7xlg0.cloudfront.net/png/138926-200.png" width="240"></a>
			</div>
			<div class="user_detail">
				<p>Nivel: {{ usuario.first_name }}</p>
				<p>Preguntas Acertadas: {{ usuario.last_name }}</p>
				<p>Preguntas Falladas: {{ usuario.email }}</p>
		</div>
	</div>
	</div>
</section>

<section class="container  col-sm-8 ">
  <h3 class = "progressType">Medallas</h3>
  <table class="table  progressSection">
    <tr>
      <th></th>
      <th scope="col">Principiante</th>
      <th scope="col">Intermedio</th>
      <th scope="col">Experto</th>
    </tr>
    <tr>
      <th scope="row">Nivel 1</th>
      <td>
        <a href="#"><img class="medalla" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Medalla_de_Oro_de_la_Naci%C3%B3n_%28Laos%29.svg/1200px-Medalla_de_Oro_de_la_Naci%C3%B3n_%28Laos%29.svg.png" alt="EspolLogo"  /></a>
      </td>
      <td>
        <a href="#"><img class="medalla" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Medalla_de_Oro_de_la_Naci%C3%B3n_%28Laos%29.svg/1200px-Medalla_de_Oro_de_la_Naci%C3%B3n_%28Laos%29.svg.png" alt="EspolLogo"  /></a>
      </td>
      <td>
        <a href="#"><img class="medalla" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Medalla_de_Oro_de_la_Naci%C3%B3n_%28Laos%29.svg/1200px-Medalla_de_Oro_de_la_Naci%C3%B3n_%28Laos%29.svg.png" alt="EspolLogo"  /></a>
      </td>
    </tr>
    <tr>
      <th scope="row">Nivel 2</th>
      <td>
        <a href="#"><img class="medalla" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Medalla_de_Oro_de_la_Naci%C3%B3n_%28Laos%29.svg/1200px-Medalla_de_Oro_de_la_Naci%C3%B3n_%28Laos%29.svg.png" alt="EspolLogo"  /></a>
      </td>
      <td>
        <a href="#"><img class="medalla" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Medalla_de_Oro_de_la_Naci%C3%B3n_%28Laos%29.svg/1200px-Medalla_de_Oro_de_la_Naci%C3%B3n_%28Laos%29.svg.png" alt="EspolLogo"  /></a>
      </td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Nivel 3</th>
      <td>
        <a href="#"><img class="medalla" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Medalla_de_Oro_de_la_Naci%C3%B3n_%28Laos%29.svg/1200px-Medalla_de_Oro_de_la_Naci%C3%B3n_%28Laos%29.svg.png" alt="EspolLogo"  /></a>
      </td>
      <td>
        <a href="#"><img class="medalla" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Medalla_de_Oro_de_la_Naci%C3%B3n_%28Laos%29.svg/1200px-Medalla_de_Oro_de_la_Naci%C3%B3n_%28Laos%29.svg.png" alt="EspolLogo"  /></a>
      </td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Nivel 4</th>
      <td>
        <a href="#"><img class="medalla" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Medalla_de_Oro_de_la_Naci%C3%B3n_%28Laos%29.svg/1200px-Medalla_de_Oro_de_la_Naci%C3%B3n_%28Laos%29.svg.png" alt="EspolLogo"  /></a>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Nivel 5</th>
      <td>
        <a href="#"><img class="medalla" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Medalla_de_Oro_de_la_Naci%C3%B3n_%28Laos%29.svg/1200px-Medalla_de_Oro_de_la_Naci%C3%B3n_%28Laos%29.svg.png" alt="EspolLogo"  /></a>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Nivel 6</th>
      <td>
        <a href="#"><img class="medalla" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Medalla_de_Oro_de_la_Naci%C3%B3n_%28Laos%29.svg/1200px-Medalla_de_Oro_de_la_Naci%C3%B3n_%28Laos%29.svg.png" alt="EspolLogo"  /></a>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Nivel 7</th>
      <td>
        <a href="#"><img class="medalla" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Medalla_de_Oro_de_la_Naci%C3%B3n_%28Laos%29.svg/1200px-Medalla_de_Oro_de_la_Naci%C3%B3n_%28Laos%29.svg.png" alt="EspolLogo"  /></a>
      </td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Nivel 8</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Nivel 9</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>

  </table>

</section>





{% endblock %}
