{% extends 'FundamentosPlay/teachers/teacher.html' %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Estudiantes por Aprobar</li>
  </ol>
</nav>
<h2 class="mb-3">Estudiantes por Aprobar</h2>

<div class="card">
  <table class="table mb-0">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
        <tr>
          <td class="align-middle">{{ student }}</td>
          <td class="align-middle">{{ student.user.first_name}}</td>
          <td class="align-middle">{{ student.user.last_name }}</td>
          <td class="text-right">
              <a  href="{% url 'teachers:student_approve' student.user.pk %}" class="btn ">✔</a>
              <a  href="{% url 'teachers:student_dismiss' student.user.pk %}" class="btn ">❌</a>
          </td>

        </tr>
      {% empty %}
        <tr>
          <td class="bg-light text-center font-italic" colspan="5">No tiene estudiantes por aprobar .</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}
